html, body, div{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

#board{
	width: 600px;
	height: 600px;
	display:inline-block;
	vertical-align: top;
}

.index{
	position: absolute;
	margin: 2;
	font-size: 80%;
}

.cell{
	display:inline-block;
	height:75px;
	width:75px;
	position:relative;
}

.blackcell{
	background-color:#6D4C41;
}

.whitecell{
	background-color:#A1887F;
}

.possiblecell{
	font-weight: bold;;
	color: yellow;
}

.redpossiblecell{
	font-weight: bold;;
	color: red;
}

.possibleCastling{
	background-color: yellow;
}

.threatCell{
	background-color: red;
}

.figure{
	height: 75px;
	width: 75px;
	z-index: 100;
	display: inline-block;
}

.blackfigure.rook{
	background-image: url("images/blackrook.png");
}

.blackfigure.pawn{
	background-image: url("images/blackpawn.png");
}

.blackfigure.horse{
	background-image: url("images/blackhorse.png");
}

.blackfigure.eleph{
	background-image: url("images/blackeleph.png");
}

.blackfigure.queen{
	background-image: url("images/blackqueen.png");
}

.blackfigure.king{
	background-image: url("images/blackking.png");
}

.whitefigure.rook{
	background-image: url("images/whiterook.png");
}

.whitefigure.pawn{
	background-image: url("images/whitepawn.png");
}

.whitefigure.horse{
	background-image: url("images/whitehorse.png");
}

.whitefigure.eleph{
	background-image: url("images/whiteeleph.png");
}

.whitefigure.queen{
	background-image: url("images/whitequeen.png");
}

.whitefigure.king{
	background-image: url("images/whiteking.png");
}

#turnmessage{
	display:inline-block;
	width:100px;
	vertical-align: top;
	color: red;
	margin: 30px;
	font-size: 150%;
}

#logbox{
	width: 300px;
	height: 600px;
	display: inline-block;;
}

#logbox p{
	padding: 0;
	margin: 0;
	font-size: 80%;
}

.popup-box {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 9999999;
		background: #BDBDBD;
		padding: 30px;
}

.popup-box div {
	height: 75px;
	width: 75px;
	z-index: 100;
	display: inline-block;
}

.popup-box div:hover {
	outline: 1px solid black;	
}

#blackout {
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 999999;
    left: 0;
    display: none;
}
